<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>S.store</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div class="brand"><a href="index.html">Amazona</a></div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <main>
        <ul>
          <li>section 1</li>
          <li>section 2</li>
          <li>section 3</li>
          <li>section 4</li>
        </ul>
      </main>
      <footer class="row center">
        <div>All rights reserved @arif2021</div>
      </footer>
    </div>
  </body>
</html>
