body {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  box-sizing: border-box;
  font-family: helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* lauout design*/

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr 3rem;
  height: 100vh;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

header {
  grid-area: header;
  background-color: #203040;
}
header .brand a {
  font-size: 40px;
  font-weight: bold;
}
header a {
  color: #ffffff;
  padding: 15px;
}
header a:hover {
  color: #ff8000;
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: white;
}
.row.center {
  justify-content: center;
}

/* product */
.card {
  border-radius: 10px;
  box-shadow: 0px 0px 6px rgb(174, 174, 174);
  padding: 1rem;
  margin: 1rem;
}
.card img {
  max-width: 18rem;
}
.card img.medium {
  width: 100%;
  border-radius: 5px;
}
.card-body h2 {
  color: #203040;
  cursor: pointer;
}
.card .rating span {
  color: #ff8000;
}
.price p {
  color: #203040;
}
